::selection {
    background: pink;
}

h2  {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

img.logo {
    margin-right: 10px;
}

.appvc {
    &__loader {
        display: none;
    }

    &__is-loading &__loader {
        display: block;
    }
}

.shadowed-box {
    border: 1px #eee solid;
    padding: 1em;
    box-shadow: 0 0 8px 0 #ccc;
}

.shadowed-box__header {
    margin-top: 0;
    background: #eee;
    padding: .2rem .5rem;
    color: #666;
}

.ping-api {
    position: absolute;
    right: 20px;
    top: 0px;
}

.login-frm__form-is-hidden {
    display: none;
}

.cacct {
    display: none;
}

.cacct__is-showing {
    display: block;
}
