::selection {
    background: pink;
}

.appvc {
    &__loader {
        display: none;
    }

    &__is-loading &__loader {
        display: block;
    }
}

.ping-api {
    position: absolute;
    right: 20px;
    top: 0px;
}

.login-frm__form-is-hidden {
    display: none;
}

.cacct {
    display: none;
}

.cacct__is-showing {
    display: block;
}
